<div class="text-box-wrapper" >
  <label class="personal-name" for="personal-name">Name to be written:*</label>
  <input id="personal-name" type="text" name="properties[Name to be written: ]" required>
</div>
  